.top-page-header {
  margin: 0 auto 50px;
  padding: 0 5%;
  border-bottom: solid 2px black;
  display: flex;
  justify-content: space-between;
}

.lists-right {
  display: flex;
  list-style: none;
}

.lists-right li {
  margin-left: 30px;
}

.user-nickname {
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.login-out {
  text-decoration: none;
  color: #333;
}

.new-post-btn {
  font-weight: bold;
  text-decoration: none;
  color: #333;
}