<div class="contents-row">
  <h2><%= @user.nickname %></h2>
  <h3><%= @user.profile %></h3>
  <ul class="user-btn">
    <% if user_signed_in? && current_user.id == @user.id %>
      <li><%= link_to "プロフィールを編集する", edit_user_registration_path(@user.id) %></li>
    <% end %>
  </ul>
</div>