<%# サイドバー %>
<aside>
  <h3 class="sub-title">カテゴリー</h3>
  <ul class="sub-menu">
    <li>本</li>
    <li>ミュージック・楽器</li>
    <li>動画・映像作品</li>
    <li>ゲーム</li>
    <li>家電・AV機器</li>
    <li>パソコン・周辺機器</li>
    <li>文房具・オフィス用品</li>
    <li>家具・インテリア</li>
    <li>ペット・動物</li>
    <li>食品・飲料・お酒</li>
    <li>日用品・化粧品</li>
    <li>ベビー・おもちゃ・ホビー</li>
    <li>ファッション</li>
    <li>スポーツ・アウトドア</li>
    <li>車・バイク</li>
    <li>その他</li>
  </ul>
</aside>
<%# /サイドバー %>