.follow-index-main {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.follow-index-box {
  width: 50%;
  border-right: solid 1px black;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
}

.follow-header {
  width: 100%;
  border-bottom: solid 1px black;
  display: flex;
  justify-content: space-between;
}

.follow-header-index {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-header a {
  color: black;
  text-align: center;
  text-decoration: none;
}

.follow-info {
  padding: 15px 0 10px;
  border-bottom: dotted 1px gray;
  display: flex;
}

.follow-avatar {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.follow-text {
  width: 70%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.follows-followers {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.index-follow-btn {
  color: black;
  border: solid 1px gray;
  text-decoration: none;
}