.user-info-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-info-message {
  width: 90%;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

/* 入力フォーム */

.field {
  margin: 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: dotted 1px gray;
}

.required-profile {
  color: red;
  font-size: 80%;
  margin-left: 5px;
}

.avatar-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.form-area {
  width: 450px;
  margin: 0 0  10px 30px;
}

.password-area {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  justify-content: center;
}