.post-show {
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
}
.post-show-main {
  width: 65%;
  border-right: solid 1px black;
  padding-right: 5%;
}

/* 投稿詳細エリア */
.post-box {
  width: 100%;
}
.user-date {
  display: flex;
  justify-content: space-between;
}
.post-image-content {
  width: 100%;
}
.post-show-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.post-explain-box {
  margin: 30px 0;
}
.favorite-btn {
  text-decoration: none;
  color: #ed1c24;
}
.non-favorite-btn {
  text-decoration: none;
}

/* コメントエリア */
.comment-box {
  width: 80%;
  padding: 0 30px;
}
.comment-form {
  width: 100%;
  height: auto;
}
.comment-btn {
  width: 100%;
}